body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7249 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u7250 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7251 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7255 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  color:#FFFFFF;
}
#u7256 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7257 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
  color:#FFFFFF;
}
#u7258 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7259_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u7259 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u7260 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7261 {
  position:absolute;
  left:8px;
  top:30px;
  width:92px;
  height:28px;
  color:#FFFFFF;
  text-align:left;
}
#u7262 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u7263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:178px;
}
#u7264 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:178px;
}
#u7265 {
  position:absolute;
  left:2px;
  top:81px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u7267 {
  position:absolute;
  left:300px;
  top:218px;
  width:10px;
  height:14px;
}
#u7268 {
  position:absolute;
  left:49px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u7269 {
  position:absolute;
  left:314px;
  top:218px;
  width:10px;
  height:14px;
}
#u7270 {
  position:absolute;
  left:49px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u7271 {
  position:absolute;
  left:328px;
  top:218px;
  width:10px;
  height:14px;
}
#u7272 {
  position:absolute;
  left:49px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u7273 {
  position:absolute;
  left:342px;
  top:218px;
  width:10px;
  height:14px;
}
#u7274 {
  position:absolute;
  left:49px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u7275 {
  position:absolute;
  left:356px;
  top:218px;
  width:10px;
  height:14px;
}
#u7276 {
  position:absolute;
  left:49px;
  top:-1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u7277 {
  position:absolute;
  left:0px;
  top:242px;
  width:375px;
  height:58px;
  font-size:11px;
}
#u7278 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u7279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u7279 {
  position:absolute;
  left:103px;
  top:330px;
  width:170px;
  height:170px;
}
#u7280 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u7281 {
  position:absolute;
  left:113px;
  top:340px;
  width:150px;
  height:150px;
}
#u7282 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:130px;
}
#u7283 {
  position:absolute;
  left:123px;
  top:350px;
  width:130px;
  height:130px;
}
#u7284 {
  position:absolute;
  left:2px;
  top:57px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7285 {
  position:absolute;
  left:159px;
  top:443px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7286 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7287 {
  position:absolute;
  left:161px;
  top:383px;
  width:50px;
  height:50px;
}
#u7288 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7289 {
  position:absolute;
  left:0px;
  top:620px;
  width:375px;
  height:50px;
}
#u7290 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u7291 {
  position:absolute;
  left:0px;
  top:649px;
  width:125px;
  height:20px;
  color:#FF0000;
}
#u7292 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u7293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u7293 {
  position:absolute;
  left:125px;
  top:649px;
  width:125px;
  height:20px;
  color:#999999;
}
#u7294 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u7295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u7295 {
  position:absolute;
  left:250px;
  top:649px;
  width:125px;
  height:20px;
  color:#999999;
}
#u7296 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u7297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7297 {
  position:absolute;
  left:52px;
  top:625px;
  width:20px;
  height:20px;
}
#u7298 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7299 {
  position:absolute;
  left:177px;
  top:625px;
  width:20px;
  height:20px;
}
#u7300 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7301 {
  position:absolute;
  left:301px;
  top:625px;
  width:20px;
  height:20px;
}
#u7302 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
