body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6381 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u6382 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u6383 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u6384 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6385 {
  position:absolute;
  left:35px;
  top:35px;
  width:61px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u6386 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6387 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6388 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u6389 {
  position:absolute;
  left:516px;
  top:36px;
  width:15px;
  height:16px;
}
#u6390 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6391 {
  position:absolute;
  left:541px;
  top:35px;
  width:61px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u6392 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6393 {
  position:absolute;
  left:466px;
  top:0px;
  width:375px;
  height:667px;
}
#u6394 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6395 {
  position:absolute;
  left:958px;
  top:3px;
  width:375px;
  height:667px;
}
#u6396 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
