body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6234 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u6235 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u6236 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u6237 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6238 {
  position:absolute;
  left:35px;
  top:35px;
  width:61px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u6239 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6240 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6241 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u6242 {
  position:absolute;
  left:516px;
  top:36px;
  width:15px;
  height:16px;
}
#u6243 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6244 {
  position:absolute;
  left:541px;
  top:35px;
  width:61px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u6245 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u6246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6246 {
  position:absolute;
  left:466px;
  top:0px;
  width:375px;
  height:667px;
}
#u6247 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6248 {
  position:absolute;
  left:958px;
  top:3px;
  width:375px;
  height:667px;
}
#u6249 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
