body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1333px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5837 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5838 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5839 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u5840 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5841 {
  position:absolute;
  left:35px;
  top:35px;
  width:61px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u5842 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u5843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5843 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5844 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5845 {
  position:absolute;
  left:516px;
  top:36px;
  width:15px;
  height:16px;
}
#u5846 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5847 {
  position:absolute;
  left:541px;
  top:35px;
  width:61px;
  height:21px;
  font-size:14px;
  color:#FFFFFF;
}
#u5848 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u5849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5849 {
  position:absolute;
  left:466px;
  top:0px;
  width:375px;
  height:667px;
}
#u5850 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5851 {
  position:absolute;
  left:958px;
  top:3px;
  width:375px;
  height:667px;
}
#u5852 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
