body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5375 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5376 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5377 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5379 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5380 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5381 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u5382 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5383 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u5384 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5385 {
  position:absolute;
  left:35px;
  top:33px;
  width:69px;
  height:23px;
  color:#FFFFFF;
}
#u5386 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u5387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5387 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u5388 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5389_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u5389 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u5390 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5391 {
  position:absolute;
  left:347px;
  top:138px;
  width:29px;
  height:17px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u5392 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
}
#u5393 {
  position:absolute;
  left:0px;
  top:99px;
  width:375px;
  height:585px;
}
#u5394 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5395 {
  position:absolute;
  left:340px;
  top:34px;
  width:20px;
  height:20px;
}
#u5396 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:90px;
}
#u5397 {
  position:absolute;
  left:0px;
  top:595px;
  width:375px;
  height:89px;
}
#u5398 {
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  word-wrap:break-word;
}
#u5399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5400 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:35px;
}
#u5401 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5402 {
  position:absolute;
  left:0px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5403 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u5404_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:128px;
  height:6px;
}
#u5404 {
  position:absolute;
  left:2px;
  top:96px;
  width:125px;
  height:3px;
  color:#FFFFFF;
}
#u5405 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5406 {
  position:absolute;
  left:121px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5407 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u5408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5408 {
  position:absolute;
  left:254px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5409 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
