body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5954 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5955 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5959 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u5961 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5962 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u5963 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5964 {
  position:absolute;
  left:35px;
  top:33px;
  width:69px;
  height:23px;
  color:#FFFFFF;
}
#u5965 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5966 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u5967 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u5968 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u5969 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5970 {
  position:absolute;
  left:347px;
  top:138px;
  width:29px;
  height:17px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
}
#u5972 {
  position:absolute;
  left:0px;
  top:99px;
  width:375px;
  height:585px;
}
#u5973 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5974 {
  position:absolute;
  left:340px;
  top:34px;
  width:20px;
  height:20px;
}
#u5975 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:90px;
}
#u5976 {
  position:absolute;
  left:0px;
  top:595px;
  width:375px;
  height:89px;
}
#u5977 {
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  word-wrap:break-word;
}
#u5978 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5979 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:35px;
}
#u5980 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5981 {
  position:absolute;
  left:0px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u5983_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:128px;
  height:6px;
}
#u5983 {
  position:absolute;
  left:2px;
  top:96px;
  width:125px;
  height:3px;
  color:#FFFFFF;
}
#u5984 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5985 {
  position:absolute;
  left:121px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u5987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5987 {
  position:absolute;
  left:254px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5988 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
