body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5713 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5714 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5717 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5718 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5719 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u5720 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5721 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u5722 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5723 {
  position:absolute;
  left:35px;
  top:33px;
  width:69px;
  height:23px;
  color:#FFFFFF;
}
#u5724 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u5725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5725 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u5726 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5727_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u5727 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u5728 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5729 {
  position:absolute;
  left:347px;
  top:138px;
  width:29px;
  height:17px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u5730 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:585px;
}
#u5731 {
  position:absolute;
  left:0px;
  top:99px;
  width:375px;
  height:585px;
}
#u5732 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5733 {
  position:absolute;
  left:340px;
  top:34px;
  width:20px;
  height:20px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:90px;
}
#u5735 {
  position:absolute;
  left:0px;
  top:595px;
  width:375px;
  height:89px;
}
#u5736 {
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  word-wrap:break-word;
}
#u5737 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5738 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:35px;
}
#u5739 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5740 {
  position:absolute;
  left:0px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5741 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u5742_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:128px;
  height:6px;
}
#u5742 {
  position:absolute;
  left:2px;
  top:96px;
  width:125px;
  height:3px;
  color:#FFFFFF;
}
#u5743 {
  position:absolute;
  left:2px;
  top:-6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5744 {
  position:absolute;
  left:121px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5745 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u5746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5746 {
  position:absolute;
  left:254px;
  top:73px;
  width:125px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u5747 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
