body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6145 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  color:#CCCCCC;
}
#u6146 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:176px;
}
#u6147 {
  position:absolute;
  left:0px;
  top:25px;
  width:375px;
  height:175px;
}
#u6148 {
  position:absolute;
  left:2px;
  top:80px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6149 {
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:70px;
}
#u6150 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6151 {
  position:absolute;
  left:26px;
  top:210px;
  width:50px;
  height:50px;
}
#u6152 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6153 {
  position:absolute;
  left:313px;
  top:210px;
  width:37px;
  height:17px;
  color:#999999;
}
#u6154 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6155 {
  position:absolute;
  left:86px;
  top:210px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6156 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6157 {
  position:absolute;
  left:87px;
  top:237px;
  width:229px;
  height:15px;
  font-size:12px;
}
#u6158 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u6159 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6162 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
}
#u6163 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6164 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u6165 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
