body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:730px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6390 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  color:#CCCCCC;
}
#u6391 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:176px;
}
#u6392 {
  position:absolute;
  left:0px;
  top:25px;
  width:375px;
  height:175px;
}
#u6393 {
  position:absolute;
  left:2px;
  top:80px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6394 {
  position:absolute;
  left:0px;
  top:200px;
  width:375px;
  height:70px;
}
#u6395 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6396 {
  position:absolute;
  left:26px;
  top:210px;
  width:50px;
  height:50px;
}
#u6397 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6398 {
  position:absolute;
  left:313px;
  top:210px;
  width:37px;
  height:17px;
  color:#999999;
}
#u6399 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6400 {
  position:absolute;
  left:86px;
  top:210px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6401 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6402 {
  position:absolute;
  left:87px;
  top:237px;
  width:229px;
  height:15px;
  font-size:12px;
}
#u6403 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u6404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6405 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6406 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6407 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
}
#u6408 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6409 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u6410 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6411 {
  position:absolute;
  left:440px;
  top:290px;
  width:290px;
  height:60px;
}
#u6412 {
  position:absolute;
  left:2px;
  top:22px;
  width:286px;
  word-wrap:break-word;
}
#u6413 {
  position:absolute;
  left:375px;
  top:235px;
  width:0px;
  height:0px;
}
#u6413_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u6413_seg1 {
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:93px;
}
#u6413_seg2 {
  position:absolute;
  left:51px;
  top:81px;
  width:14px;
  height:8px;
}
#u6414 {
  position:absolute;
  left:5px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
