body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7018 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:132px;
}
#u7020 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:132px;
}
#u7021 {
  position:absolute;
  left:2px;
  top:58px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:43px;
}
#u7022 {
  position:absolute;
  left:0px;
  top:627px;
  width:372px;
  height:43px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:14px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:495px;
}
#u7024 {
  position:absolute;
  left:372px;
  top:132px;
  width:1px;
  height:495px;
}
#u7025 {
  position:absolute;
  left:2px;
  top:240px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:43px;
}
#u7026 {
  position:absolute;
  left:372px;
  top:627px;
  width:1px;
  height:43px;
}
#u7027 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:132px;
}
#u7028 {
  position:absolute;
  left:373px;
  top:0px;
  width:2px;
  height:132px;
}
#u7029 {
  position:absolute;
  left:2px;
  top:58px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:538px;
}
#u7030 {
  position:absolute;
  left:373px;
  top:132px;
  width:2px;
  height:538px;
}
#u7031 {
  position:absolute;
  left:2px;
  top:261px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7034 {
  position:absolute;
  left:0px;
  top:132px;
  width:375px;
  height:68px;
}
#u7035 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7036 {
  position:absolute;
  left:13px;
  top:142px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7038 {
  position:absolute;
  left:60px;
  top:145px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7039 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7040 {
  position:absolute;
  left:13px;
  top:172px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7041 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7042 {
  position:absolute;
  left:326px;
  top:151px;
  width:30px;
  height:30px;
}
#u7043 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7046 {
  position:absolute;
  left:0px;
  top:199px;
  width:375px;
  height:68px;
}
#u7047 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7048 {
  position:absolute;
  left:13px;
  top:209px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7049 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7050 {
  position:absolute;
  left:60px;
  top:212px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7051 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7052 {
  position:absolute;
  left:13px;
  top:239px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7054 {
  position:absolute;
  left:326px;
  top:218px;
  width:30px;
  height:30px;
}
#u7055 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7058 {
  position:absolute;
  left:0px;
  top:267px;
  width:375px;
  height:68px;
}
#u7059 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7060 {
  position:absolute;
  left:13px;
  top:277px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7061 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7062 {
  position:absolute;
  left:60px;
  top:280px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7063 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7064 {
  position:absolute;
  left:13px;
  top:307px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7065 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7066 {
  position:absolute;
  left:326px;
  top:286px;
  width:30px;
  height:30px;
}
#u7067 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7070 {
  position:absolute;
  left:0px;
  top:334px;
  width:375px;
  height:68px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7072 {
  position:absolute;
  left:13px;
  top:344px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7073 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7074 {
  position:absolute;
  left:60px;
  top:347px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7076 {
  position:absolute;
  left:13px;
  top:374px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7078 {
  position:absolute;
  left:326px;
  top:353px;
  width:30px;
  height:30px;
}
#u7079 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7082 {
  position:absolute;
  left:0px;
  top:401px;
  width:375px;
  height:68px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7084 {
  position:absolute;
  left:13px;
  top:411px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7086 {
  position:absolute;
  left:60px;
  top:414px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7087 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7088 {
  position:absolute;
  left:13px;
  top:441px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7089 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7090 {
  position:absolute;
  left:326px;
  top:420px;
  width:30px;
  height:30px;
}
#u7091 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7094 {
  position:absolute;
  left:0px;
  top:469px;
  width:375px;
  height:68px;
}
#u7095 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7096 {
  position:absolute;
  left:13px;
  top:479px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7098 {
  position:absolute;
  left:60px;
  top:482px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7099 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7100 {
  position:absolute;
  left:13px;
  top:509px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7101 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7102 {
  position:absolute;
  left:326px;
  top:488px;
  width:30px;
  height:30px;
}
#u7103 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7106 {
  position:absolute;
  left:0px;
  top:536px;
  width:375px;
  height:68px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7108 {
  position:absolute;
  left:13px;
  top:546px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7109 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7110 {
  position:absolute;
  left:60px;
  top:549px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7111 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7112 {
  position:absolute;
  left:13px;
  top:576px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7113 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7114 {
  position:absolute;
  left:326px;
  top:555px;
  width:30px;
  height:30px;
}
#u7115 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
