body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5912 {
  position:absolute;
  left:810px;
  top:34px;
  width:20px;
  height:20px;
}
#u5913 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5914 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  color:#CCCCCC;
}
#u5915 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5916 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u5917 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5918 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u5919 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5920 {
  position:absolute;
  left:35px;
  top:34px;
  width:69px;
  height:23px;
  color:#FFFFFF;
}
#u5921 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u5922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5922 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u5923 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5924 {
  position:absolute;
  left:340px;
  top:34px;
  width:20px;
  height:20px;
}
#u5925 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5926 {
  position:absolute;
  left:289px;
  top:566px;
  width:60px;
  height:60px;
}
#u5927 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:133px;
}
#u5928 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:132px;
}
#u5929 {
  position:absolute;
  left:2px;
  top:58px;
  width:371px;
  word-wrap:break-word;
}
#u5930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:320px;
}
#u5930 {
  position:absolute;
  left:0px;
  top:196px;
  width:375px;
  height:319px;
}
#u5931 {
  position:absolute;
  left:2px;
  top:152px;
  width:371px;
  word-wrap:break-word;
}
#u5932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5932 {
  position:absolute;
  left:137px;
  top:587px;
  width:85px;
  height:18px;
}
#u5933 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5932_ann {
  position:absolute;
  left:215px;
  top:583px;
  width:1px;
  height:1px;
}
#u5934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u5934 {
  position:absolute;
  left:435px;
  top:0px;
  width:375px;
  height:670px;
  color:#CCCCCC;
}
#u5935 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5936 {
  position:absolute;
  left:435px;
  top:0px;
  width:375px;
  height:64px;
}
#u5937 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5938 {
  position:absolute;
  left:443px;
  top:6px;
  width:360px;
  height:11px;
}
#u5939 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5940 {
  position:absolute;
  left:470px;
  top:34px;
  width:69px;
  height:23px;
  color:#FFFFFF;
}
#u5941 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u5942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5942 {
  position:absolute;
  left:445px;
  top:36px;
  width:15px;
  height:16px;
}
#u5943 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5944 {
  position:absolute;
  left:775px;
  top:34px;
  width:20px;
  height:20px;
}
#u5945 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u5946 {
  position:absolute;
  left:724px;
  top:566px;
  width:60px;
  height:60px;
}
#u5947 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:133px;
}
#u5948 {
  position:absolute;
  left:435px;
  top:64px;
  width:375px;
  height:132px;
}
#u5949 {
  position:absolute;
  left:2px;
  top:58px;
  width:371px;
  word-wrap:break-word;
}
#u5950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:320px;
}
#u5950 {
  position:absolute;
  left:435px;
  top:196px;
  width:375px;
  height:319px;
}
#u5951 {
  position:absolute;
  left:2px;
  top:152px;
  width:371px;
  word-wrap:break-word;
}
#u5952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5952 {
  position:absolute;
  left:580px;
  top:587px;
  width:85px;
  height:18px;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5952_ann {
  position:absolute;
  left:658px;
  top:583px;
  width:1px;
  height:1px;
}
