body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  color:#FFFFFF;
}
#u819 {
  position:absolute;
  left:2px;
  top:299px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:44px;
}
#u821 {
  position:absolute;
  left:65px;
  top:0px;
  width:1215px;
  height:44px;
}
#u822 {
  position:absolute;
  left:2px;
  top:14px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(3, 121, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u823 {
  position:absolute;
  left:115px;
  top:0px;
  width:120px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u824 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:614px;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:614px;
}
#u826 {
  position:absolute;
  left:2px;
  top:299px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:35px;
}
#u827 {
  position:absolute;
  left:65px;
  top:44px;
  width:1214px;
  height:35px;
}
#u828 {
  position:absolute;
  left:2px;
  top:10px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:166px;
  top:87px;
  width:88px;
  height:30px;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u831 {
  position:absolute;
  left:253px;
  top:87px;
  width:88px;
  height:30px;
  color:#000000;
}
#u832 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u833 {
  position:absolute;
  left:339px;
  top:87px;
  width:88px;
  height:30px;
  color:#000000;
}
#u834 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u835 {
  position:absolute;
  left:165px;
  top:128px;
  width:699px;
  height:350px;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u837 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u838 {
  position:absolute;
  left:94px;
  top:0px;
  width:152px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u839 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u840 {
  position:absolute;
  left:246px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u841 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u842 {
  position:absolute;
  left:336px;
  top:0px;
  width:114px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u843 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u844 {
  position:absolute;
  left:450px;
  top:0px;
  width:64px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u845 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u846 {
  position:absolute;
  left:514px;
  top:0px;
  width:180px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u847 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u848 {
  position:absolute;
  left:0px;
  top:30px;
  width:94px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u849 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u850 {
  position:absolute;
  left:94px;
  top:30px;
  width:152px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u851 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u852 {
  position:absolute;
  left:246px;
  top:30px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u853 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u854 {
  position:absolute;
  left:336px;
  top:30px;
  width:114px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u855 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u856 {
  position:absolute;
  left:450px;
  top:30px;
  width:64px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u857 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u858 {
  position:absolute;
  left:514px;
  top:30px;
  width:180px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u859 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u860 {
  position:absolute;
  left:0px;
  top:63px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u861 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u862 {
  position:absolute;
  left:94px;
  top:63px;
  width:152px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u863 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u864 {
  position:absolute;
  left:246px;
  top:63px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u865 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u866 {
  position:absolute;
  left:336px;
  top:63px;
  width:114px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u867 {
  position:absolute;
  left:2px;
  top:8px;
  width:110px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u868 {
  position:absolute;
  left:450px;
  top:63px;
  width:64px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u869 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u870 {
  position:absolute;
  left:514px;
  top:63px;
  width:180px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u871 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u872 {
  position:absolute;
  left:0px;
  top:93px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u873 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u874 {
  position:absolute;
  left:94px;
  top:93px;
  width:152px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u875 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u876 {
  position:absolute;
  left:246px;
  top:93px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u877 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u878 {
  position:absolute;
  left:336px;
  top:93px;
  width:114px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u879 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u880 {
  position:absolute;
  left:450px;
  top:93px;
  width:64px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u881 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u882 {
  position:absolute;
  left:514px;
  top:93px;
  width:180px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u883 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u884 {
  position:absolute;
  left:0px;
  top:123px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u885 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u886 {
  position:absolute;
  left:94px;
  top:123px;
  width:152px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u887 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u888 {
  position:absolute;
  left:246px;
  top:123px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u889 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u890 {
  position:absolute;
  left:336px;
  top:123px;
  width:114px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u891 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u892 {
  position:absolute;
  left:450px;
  top:123px;
  width:64px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u893 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u894 {
  position:absolute;
  left:514px;
  top:123px;
  width:180px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u895 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u896 {
  position:absolute;
  left:0px;
  top:153px;
  width:94px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u897 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u898 {
  position:absolute;
  left:94px;
  top:153px;
  width:152px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u899 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u900 {
  position:absolute;
  left:246px;
  top:153px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u901 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u902 {
  position:absolute;
  left:336px;
  top:153px;
  width:114px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u903 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u904 {
  position:absolute;
  left:450px;
  top:153px;
  width:64px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u905 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u906 {
  position:absolute;
  left:514px;
  top:153px;
  width:180px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u907 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u908 {
  position:absolute;
  left:0px;
  top:186px;
  width:94px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u909 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u910 {
  position:absolute;
  left:94px;
  top:186px;
  width:152px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u911 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u912 {
  position:absolute;
  left:246px;
  top:186px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u913 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u914 {
  position:absolute;
  left:336px;
  top:186px;
  width:114px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u915 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u916 {
  position:absolute;
  left:450px;
  top:186px;
  width:64px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u917 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u918 {
  position:absolute;
  left:514px;
  top:186px;
  width:180px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u919 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u920 {
  position:absolute;
  left:0px;
  top:219px;
  width:94px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u921 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u922 {
  position:absolute;
  left:94px;
  top:219px;
  width:152px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u923 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u924 {
  position:absolute;
  left:246px;
  top:219px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u925 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u926 {
  position:absolute;
  left:336px;
  top:219px;
  width:114px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u927 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u928 {
  position:absolute;
  left:450px;
  top:219px;
  width:64px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u929 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u930 {
  position:absolute;
  left:514px;
  top:219px;
  width:180px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u931 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u932 {
  position:absolute;
  left:0px;
  top:252px;
  width:94px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u933 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u934 {
  position:absolute;
  left:94px;
  top:252px;
  width:152px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u935 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:33px;
}
#u936 {
  position:absolute;
  left:246px;
  top:252px;
  width:90px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u937 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u938 {
  position:absolute;
  left:336px;
  top:252px;
  width:114px;
  height:33px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u939 {
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:33px;
}
#u940 {
  position:absolute;
  left:450px;
  top:252px;
  width:64px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u941 {
  position:absolute;
  left:2px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u942 {
  position:absolute;
  left:514px;
  top:252px;
  width:180px;
  height:33px;
  font-size:12px;
  text-align:left;
}
#u943 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u944 {
  position:absolute;
  left:0px;
  top:285px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u945 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u946 {
  position:absolute;
  left:94px;
  top:285px;
  width:152px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u947 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u948 {
  position:absolute;
  left:246px;
  top:285px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u949 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u950 {
  position:absolute;
  left:336px;
  top:285px;
  width:114px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u951 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u952 {
  position:absolute;
  left:450px;
  top:285px;
  width:64px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u953 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u954 {
  position:absolute;
  left:514px;
  top:285px;
  width:180px;
  height:30px;
  font-size:12px;
  text-align:left;
}
#u955 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u956 {
  position:absolute;
  left:0px;
  top:315px;
  width:94px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u957 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u958 {
  position:absolute;
  left:94px;
  top:315px;
  width:152px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u959 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u960 {
  position:absolute;
  left:246px;
  top:315px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u961 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u962 {
  position:absolute;
  left:336px;
  top:315px;
  width:114px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u963 {
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u964 {
  position:absolute;
  left:450px;
  top:315px;
  width:64px;
  height:30px;
  text-align:left;
}
#u965 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u966 {
  position:absolute;
  left:514px;
  top:315px;
  width:180px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u967 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u968 {
  position:absolute;
  left:950px;
  top:128px;
  width:300px;
  height:170px;
}
#u969 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:181px;
}
#u970 {
  position:absolute;
  left:955px;
  top:366px;
  width:291px;
  height:181px;
}
#u971 {
  position:absolute;
  left:2px;
  top:82px;
  width:287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1087px;
  height:52px;
}
#u972 {
  position:absolute;
  left:165px;
  top:557px;
  width:1086px;
  height:51px;
}
#u973 {
  position:absolute;
  left:2px;
  top:18px;
  width:1082px;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(48, 141, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u976 {
  position:absolute;
  left:128px;
  top:49px;
  width:92px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u977 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u978 {
  position:absolute;
  left:195px;
  top:55px;
  width:16px;
  height:17px;
  color:#3399FF;
}
#u979 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u980 {
  position:absolute;
  left:1249px;
  top:80px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u981 {
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:17px;
}
#u982 {
  position:absolute;
  left:257px;
  top:421px;
  width:325px;
  height:17px;
  font-size:14px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u984 {
  position:absolute;
  left:597px;
  top:414px;
  width:80px;
  height:24px;
  color:#FFFFFF;
}
#u985 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u988 {
  position:absolute;
  left:65px;
  top:116px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u989 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:65px;
  top:79px;
  width:95px;
  height:38px;
}
#u991 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u992 {
  position:absolute;
  left:65px;
  top:153px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u994 {
  position:absolute;
  left:69px;
  top:92px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u996 {
  position:absolute;
  left:69px;
  top:129px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u998 {
  position:absolute;
  left:69px;
  top:166px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1000 {
  position:absolute;
  left:65px;
  top:190px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1001 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1002 {
  position:absolute;
  left:69px;
  top:203px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1004 {
  position:absolute;
  left:131px;
  top:73px;
  width:30px;
  height:30px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1006 {
  position:absolute;
  left:65px;
  top:263px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1007 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  position:absolute;
  left:65px;
  top:226px;
  width:95px;
  height:38px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1010 {
  position:absolute;
  left:65px;
  top:300px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1011 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1012 {
  position:absolute;
  left:69px;
  top:238px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1014 {
  position:absolute;
  left:69px;
  top:274px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1015 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1016 {
  position:absolute;
  left:69px;
  top:312px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1018 {
  position:absolute;
  left:65px;
  top:336px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1019 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1020 {
  position:absolute;
  left:69px;
  top:347px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:133px;
  top:218px;
  width:29px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
