body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  opacity:0.5;
}
#u1035 {
  position:absolute;
  left:2px;
  top:299px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  position:absolute;
  left:450px;
  top:171px;
  width:454px;
  height:326px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:155px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:39px;
  background:inherit;
  background-color:rgba(45, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1041 {
  position:absolute;
  left:450px;
  top:171px;
  width:454px;
  height:39px;
  color:#FFFFFF;
  text-align:left;
}
#u1042 {
  position:absolute;
  left:2px;
  top:12px;
  width:450px;
  word-wrap:break-word;
}
#u1043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1043 {
  position:absolute;
  left:865px;
  top:171px;
  width:39px;
  height:39px;
  font-size:18px;
  color:#FFFFFF;
}
#u1044 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1045 {
  position:absolute;
  left:822px;
  top:457px;
  width:60px;
  height:28px;
  font-size:12px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1047 {
  position:absolute;
  left:732px;
  top:457px;
  width:60px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u1048 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1049 {
  position:absolute;
  left:465px;
  top:217px;
  width:427px;
  height:224px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:104px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  position:absolute;
  left:465px;
  top:292px;
  width:112px;
  height:75px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:30px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1053 {
  position:absolute;
  left:490px;
  top:310px;
  width:66px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1055 {
  position:absolute;
  left:486px;
  top:326px;
  width:68px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1057 {
  position:absolute;
  left:465px;
  top:367px;
  width:112px;
  height:74px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:29px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1059 {
  position:absolute;
  left:490px;
  top:382px;
  width:61px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1061 {
  position:absolute;
  left:486px;
  top:399px;
  width:68px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u1062 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:576px;
  top:292px;
  width:316px;
  height:75px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:30px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1065 {
  position:absolute;
  left:576px;
  top:367px;
  width:316px;
  height:74px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:29px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1067 {
  position:absolute;
  left:610px;
  top:323px;
  width:20px;
  height:20px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1069 {
  position:absolute;
  left:613px;
  top:407px;
  width:20px;
  height:20px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:326px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1072 {
  position:absolute;
  left:164px;
  top:830px;
  width:454px;
  height:326px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:155px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:39px;
  background:inherit;
  background-color:rgba(45, 134, 223, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1075 {
  position:absolute;
  left:164px;
  top:830px;
  width:454px;
  height:39px;
  color:#FFFFFF;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:2px;
  top:12px;
  width:450px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1077 {
  position:absolute;
  left:579px;
  top:830px;
  width:39px;
  height:39px;
  font-size:18px;
  color:#FFFFFF;
}
#u1078 {
  position:absolute;
  left:2px;
  top:8px;
  width:35px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1079 {
  position:absolute;
  left:536px;
  top:1116px;
  width:60px;
  height:28px;
  font-size:12px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1081 {
  position:absolute;
  left:446px;
  top:1116px;
  width:60px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
}
#u1082 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083 {
  position:absolute;
  left:179px;
  top:876px;
  width:427px;
  height:224px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:104px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  position:absolute;
  left:179px;
  top:876px;
  width:112px;
  height:66px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:25px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1087 {
  position:absolute;
  left:199px;
  top:899px;
  width:78px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1089 {
  position:absolute;
  left:199px;
  top:969px;
  width:73px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u1090 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1091 {
  position:absolute;
  left:290px;
  top:876px;
  width:316px;
  height:66px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:25px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093 {
  position:absolute;
  left:290px;
  top:942px;
  width:316px;
  height:112px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:48px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1098 {
  position:absolute;
  left:307px;
  top:894px;
  width:92px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1099 {
  position:absolute;
  left:8px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u1100 {
  position:absolute;
  left:387px;
  top:903px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1101 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1103 {
  position:absolute;
  left:399px;
  top:894px;
  width:92px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1104 {
  position:absolute;
  left:8px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u1105 {
  position:absolute;
  left:480px;
  top:903px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1106 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1108 {
  position:absolute;
  left:494px;
  top:894px;
  width:92px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1109 {
  position:absolute;
  left:8px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u1110 {
  position:absolute;
  left:574px;
  top:903px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1111 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u1112 {
  position:absolute;
  left:180px;
  top:1059px;
  width:426px;
  height:41px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u1113 {
  position:absolute;
  left:2px;
  top:13px;
  width:422px;
  word-wrap:break-word;
}
#u1114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1114 {
  position:absolute;
  left:292px;
  top:943px;
  width:314px;
  height:29px;
  font-size:12px;
  text-align:left;
}
#u1115 {
  position:absolute;
  left:2px;
  top:7px;
  width:310px;
  word-wrap:break-word;
}
#u1116 {
  position:absolute;
  left:578px;
  top:950px;
  width:19px;
  height:16px;
}
#u1117 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1118 {
  position:absolute;
  left:291px;
  top:972px;
  width:314px;
  height:29px;
  font-size:12px;
  text-align:left;
}
#u1119 {
  position:absolute;
  left:2px;
  top:7px;
  width:310px;
  word-wrap:break-word;
}
#u1120 {
  position:absolute;
  left:577px;
  top:979px;
  width:19px;
  height:16px;
}
#u1121 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1122 {
  position:absolute;
  left:291px;
  top:1001px;
  width:314px;
  height:29px;
  font-size:12px;
  text-align:left;
}
#u1123 {
  position:absolute;
  left:2px;
  top:7px;
  width:310px;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1124 {
  position:absolute;
  left:291px;
  top:1030px;
  width:314px;
  height:29px;
  font-size:12px;
  text-align:left;
}
#u1125 {
  position:absolute;
  left:2px;
  top:7px;
  width:310px;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  position:absolute;
  left:465px;
  top:218px;
  width:112px;
  height:75px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:30px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1128 {
  position:absolute;
  left:485px;
  top:236px;
  width:78px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1129 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  position:absolute;
  left:576px;
  top:218px;
  width:316px;
  height:75px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:30px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1135 {
  position:absolute;
  left:593px;
  top:242px;
  width:92px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1136 {
  position:absolute;
  left:8px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u1137 {
  position:absolute;
  left:673px;
  top:251px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1138 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1140 {
  position:absolute;
  left:685px;
  top:242px;
  width:92px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1141 {
  position:absolute;
  left:8px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u1142 {
  position:absolute;
  left:766px;
  top:251px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1143 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1145 {
  position:absolute;
  left:780px;
  top:242px;
  width:92px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
}
#u1146 {
  position:absolute;
  left:8px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u1147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u1147 {
  position:absolute;
  left:860px;
  top:251px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1148 {
  position:absolute;
  left:2px;
  top:2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 153, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u1149 {
  position:absolute;
  left:488px;
  top:251px;
  width:72px;
  height:28px;
  font-size:10px;
  color:#FFFFFF;
}
#u1150 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
