body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4913 {
  position:absolute;
  left:0px;
  top:-108px;
  width:375px;
  height:1282px;
}
#u4914 {
  position:absolute;
  left:2px;
  top:633px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  color:#FFFFFF;
}
#u4920 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4921 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
  color:#FFFFFF;
}
#u4922 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4923 {
  position:absolute;
  left:129px;
  top:30px;
  width:50px;
  height:28px;
  color:#FFFFFF;
}
#u4924 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u4925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4925 {
  position:absolute;
  left:179px;
  top:30px;
  width:50px;
  height:28px;
  color:#666666;
}
#u4926 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u4927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u4927 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u4928 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u4929 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u4930 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u4931 {
  position:absolute;
  left:1px;
  top:1233px;
  width:374px;
  height:49px;
}
#u4932 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u4933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:960px;
}
#u4933 {
  position:absolute;
  left:0px;
  top:132px;
  width:375px;
  height:960px;
}
#u4934 {
  position:absolute;
  left:2px;
  top:472px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:151px;
}
#u4935 {
  position:absolute;
  left:0px;
  top:74px;
  width:374px;
  height:150px;
}
#u4936 {
  position:absolute;
  left:2px;
  top:67px;
  width:370px;
  word-wrap:break-word;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4937 {
  position:absolute;
  left:430px;
  top:22px;
  width:300px;
  height:80px;
}
#u4938 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4939 {
  position:absolute;
  left:450px;
  top:41px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4940 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4941 {
  position:absolute;
  left:510px;
  top:41px;
  width:29px;
  height:17px;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4943 {
  position:absolute;
  left:515px;
  top:74px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4945 {
  position:absolute;
  left:583px;
  top:41px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4946 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4947 {
  position:absolute;
  left:790px;
  top:22px;
  width:300px;
  height:80px;
}
#u4948 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4949 {
  position:absolute;
  left:810px;
  top:41px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4950 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4951 {
  position:absolute;
  left:870px;
  top:41px;
  width:29px;
  height:17px;
}
#u4952 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4953 {
  position:absolute;
  left:875px;
  top:74px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4955 {
  position:absolute;
  left:943px;
  top:41px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4957 {
  position:absolute;
  left:430px;
  top:125px;
  width:300px;
  height:80px;
}
#u4958 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4959 {
  position:absolute;
  left:450px;
  top:144px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4960 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4961 {
  position:absolute;
  left:510px;
  top:144px;
  width:29px;
  height:17px;
}
#u4962 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4963 {
  position:absolute;
  left:515px;
  top:177px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4965 {
  position:absolute;
  left:583px;
  top:144px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  position:absolute;
  left:790px;
  top:125px;
  width:300px;
  height:80px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4969 {
  position:absolute;
  left:810px;
  top:144px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4970 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4971 {
  position:absolute;
  left:870px;
  top:144px;
  width:29px;
  height:17px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4973 {
  position:absolute;
  left:875px;
  top:177px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4975 {
  position:absolute;
  left:943px;
  top:144px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4976 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4977 {
  position:absolute;
  left:430px;
  top:230px;
  width:300px;
  height:80px;
}
#u4978 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4979 {
  position:absolute;
  left:450px;
  top:249px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4980 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4981 {
  position:absolute;
  left:510px;
  top:249px;
  width:29px;
  height:17px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4983 {
  position:absolute;
  left:515px;
  top:282px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4984 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4985 {
  position:absolute;
  left:583px;
  top:249px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4987 {
  position:absolute;
  left:790px;
  top:230px;
  width:300px;
  height:80px;
}
#u4988 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4989 {
  position:absolute;
  left:810px;
  top:249px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4990 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4991 {
  position:absolute;
  left:870px;
  top:249px;
  width:29px;
  height:17px;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4993 {
  position:absolute;
  left:875px;
  top:282px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4994 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4995 {
  position:absolute;
  left:943px;
  top:249px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4996 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4997 {
  position:absolute;
  left:430px;
  top:328px;
  width:300px;
  height:82px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4999 {
  position:absolute;
  left:450px;
  top:347px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5000 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5001 {
  position:absolute;
  left:510px;
  top:347px;
  width:29px;
  height:17px;
}
#u5002 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5003 {
  position:absolute;
  left:515px;
  top:380px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5004 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5005 {
  position:absolute;
  left:583px;
  top:347px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5007 {
  position:absolute;
  left:430px;
  top:472px;
  width:300px;
  height:124px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5009 {
  position:absolute;
  left:450px;
  top:491px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5010 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5011 {
  position:absolute;
  left:430px;
  top:551px;
  width:300px;
  height:1px;
}
#u5012 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5013 {
  position:absolute;
  left:510px;
  top:491px;
  width:29px;
  height:17px;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5015 {
  position:absolute;
  left:515px;
  top:524px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5016 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5017 {
  position:absolute;
  left:583px;
  top:491px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5018 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5019 {
  position:absolute;
  left:455px;
  top:569px;
  width:97px;
  height:17px;
  color:#666666;
}
#u5020 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5021 {
  position:absolute;
  left:790px;
  top:469px;
  width:300px;
  height:124px;
}
#u5022 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5023 {
  position:absolute;
  left:810px;
  top:488px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5024 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5025 {
  position:absolute;
  left:790px;
  top:548px;
  width:300px;
  height:1px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5027 {
  position:absolute;
  left:870px;
  top:488px;
  width:29px;
  height:17px;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5029 {
  position:absolute;
  left:875px;
  top:521px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5031 {
  position:absolute;
  left:943px;
  top:488px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5032 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5033 {
  position:absolute;
  left:815px;
  top:566px;
  width:153px;
  height:17px;
  color:#666666;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5035 {
  position:absolute;
  left:430px;
  top:632px;
  width:300px;
  height:230px;
}
#u5036 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5037 {
  position:absolute;
  left:450px;
  top:651px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5038 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5039 {
  position:absolute;
  left:430px;
  top:711px;
  width:300px;
  height:1px;
}
#u5040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5041 {
  position:absolute;
  left:510px;
  top:651px;
  width:29px;
  height:17px;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5043 {
  position:absolute;
  left:515px;
  top:684px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5045 {
  position:absolute;
  left:583px;
  top:651px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5047 {
  position:absolute;
  left:455px;
  top:799px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5048 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5049 {
  position:absolute;
  left:440px;
  top:722px;
  width:70px;
  height:70px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5051 {
  position:absolute;
  left:545px;
  top:722px;
  width:70px;
  height:70px;
}
#u5052 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5053 {
  position:absolute;
  left:647px;
  top:722px;
  width:70px;
  height:70px;
}
#u5054 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5055 {
  position:absolute;
  left:440px;
  top:816px;
  width:277px;
  height:35px;
}
#u5056 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5057 {
  position:absolute;
  left:790px;
  top:632px;
  width:300px;
  height:230px;
}
#u5058 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5059 {
  position:absolute;
  left:810px;
  top:651px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5060 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5061 {
  position:absolute;
  left:790px;
  top:711px;
  width:300px;
  height:1px;
}
#u5062 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5063 {
  position:absolute;
  left:870px;
  top:651px;
  width:29px;
  height:17px;
}
#u5064 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5065 {
  position:absolute;
  left:875px;
  top:684px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5066 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5067 {
  position:absolute;
  left:943px;
  top:651px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5068 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5069 {
  position:absolute;
  left:815px;
  top:799px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5071 {
  position:absolute;
  left:800px;
  top:722px;
  width:70px;
  height:70px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5073 {
  position:absolute;
  left:905px;
  top:722px;
  width:70px;
  height:70px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5075 {
  position:absolute;
  left:1007px;
  top:722px;
  width:70px;
  height:70px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5077 {
  position:absolute;
  left:800px;
  top:816px;
  width:277px;
  height:35px;
}
#u5078 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5079 {
  position:absolute;
  left:430px;
  top:892px;
  width:300px;
  height:230px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5081 {
  position:absolute;
  left:450px;
  top:911px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5082 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5083 {
  position:absolute;
  left:430px;
  top:971px;
  width:300px;
  height:1px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5085 {
  position:absolute;
  left:510px;
  top:911px;
  width:29px;
  height:17px;
}
#u5086 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5087 {
  position:absolute;
  left:515px;
  top:944px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5089 {
  position:absolute;
  left:583px;
  top:911px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5090 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5091 {
  position:absolute;
  left:455px;
  top:1059px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5093 {
  position:absolute;
  left:440px;
  top:982px;
  width:70px;
  height:70px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5095 {
  position:absolute;
  left:545px;
  top:982px;
  width:70px;
  height:70px;
}
#u5096 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5097 {
  position:absolute;
  left:647px;
  top:982px;
  width:70px;
  height:70px;
}
#u5098 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5099 {
  position:absolute;
  left:440px;
  top:1076px;
  width:277px;
  height:35px;
}
#u5100 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5101 {
  position:absolute;
  left:790px;
  top:895px;
  width:300px;
  height:124px;
}
#u5102 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5103 {
  position:absolute;
  left:810px;
  top:914px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5104 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5105 {
  position:absolute;
  left:790px;
  top:974px;
  width:300px;
  height:1px;
}
#u5106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5107 {
  position:absolute;
  left:870px;
  top:914px;
  width:29px;
  height:17px;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5109 {
  position:absolute;
  left:875px;
  top:947px;
  width:46px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5110 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5111 {
  position:absolute;
  left:943px;
  top:914px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5112 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5113 {
  position:absolute;
  left:809px;
  top:990px;
  width:152px;
  height:17px;
  color:#666666;
}
#u5114 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5115 {
  position:absolute;
  left:790px;
  top:320px;
  width:300px;
  height:124px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5117 {
  position:absolute;
  left:810px;
  top:339px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5118 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5119 {
  position:absolute;
  left:790px;
  top:399px;
  width:300px;
  height:1px;
}
#u5120 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:870px;
  top:339px;
  width:29px;
  height:17px;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5123 {
  position:absolute;
  left:875px;
  top:372px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5124 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5125 {
  position:absolute;
  left:943px;
  top:339px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5126 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5127 {
  position:absolute;
  left:815px;
  top:417px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5128 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
