body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4962 {
  position:absolute;
  left:0px;
  top:-108px;
  width:375px;
  height:1282px;
}
#u4963 {
  position:absolute;
  left:2px;
  top:633px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4968 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  color:#FFFFFF;
}
#u4969 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4970 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
  color:#FFFFFF;
}
#u4971 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4972 {
  position:absolute;
  left:129px;
  top:30px;
  width:50px;
  height:28px;
  color:#FFFFFF;
}
#u4973 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4974 {
  position:absolute;
  left:179px;
  top:30px;
  width:50px;
  height:28px;
  color:#666666;
}
#u4975 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u4976 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u4978 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u4979 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u4980 {
  position:absolute;
  left:1px;
  top:1233px;
  width:374px;
  height:49px;
}
#u4981 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:960px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:132px;
  width:375px;
  height:960px;
}
#u4983 {
  position:absolute;
  left:2px;
  top:472px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:151px;
}
#u4984 {
  position:absolute;
  left:0px;
  top:74px;
  width:374px;
  height:150px;
}
#u4985 {
  position:absolute;
  left:2px;
  top:67px;
  width:370px;
  word-wrap:break-word;
}
#u4986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4986 {
  position:absolute;
  left:430px;
  top:22px;
  width:300px;
  height:80px;
}
#u4987 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4988 {
  position:absolute;
  left:450px;
  top:41px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4989 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4990 {
  position:absolute;
  left:510px;
  top:41px;
  width:29px;
  height:17px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4992 {
  position:absolute;
  left:515px;
  top:74px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4994 {
  position:absolute;
  left:583px;
  top:41px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:790px;
  top:22px;
  width:300px;
  height:80px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4998 {
  position:absolute;
  left:810px;
  top:41px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4999 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:870px;
  top:41px;
  width:29px;
  height:17px;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5002 {
  position:absolute;
  left:875px;
  top:74px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5004 {
  position:absolute;
  left:943px;
  top:41px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5006 {
  position:absolute;
  left:430px;
  top:125px;
  width:300px;
  height:80px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5008 {
  position:absolute;
  left:450px;
  top:144px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5009 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5010 {
  position:absolute;
  left:510px;
  top:144px;
  width:29px;
  height:17px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5012 {
  position:absolute;
  left:515px;
  top:177px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5014 {
  position:absolute;
  left:583px;
  top:144px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5016 {
  position:absolute;
  left:790px;
  top:125px;
  width:300px;
  height:80px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5018 {
  position:absolute;
  left:810px;
  top:144px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5019 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5020 {
  position:absolute;
  left:870px;
  top:144px;
  width:29px;
  height:17px;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5022 {
  position:absolute;
  left:875px;
  top:177px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5024 {
  position:absolute;
  left:943px;
  top:144px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5026 {
  position:absolute;
  left:430px;
  top:230px;
  width:300px;
  height:80px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5028 {
  position:absolute;
  left:450px;
  top:249px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5029 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5030 {
  position:absolute;
  left:510px;
  top:249px;
  width:29px;
  height:17px;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5032 {
  position:absolute;
  left:515px;
  top:282px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5034 {
  position:absolute;
  left:583px;
  top:249px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5035 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5036 {
  position:absolute;
  left:790px;
  top:230px;
  width:300px;
  height:80px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5038 {
  position:absolute;
  left:810px;
  top:249px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5039 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5040 {
  position:absolute;
  left:870px;
  top:249px;
  width:29px;
  height:17px;
}
#u5041 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5042 {
  position:absolute;
  left:875px;
  top:282px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5044 {
  position:absolute;
  left:943px;
  top:249px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5045 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5046 {
  position:absolute;
  left:430px;
  top:328px;
  width:300px;
  height:82px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5048 {
  position:absolute;
  left:450px;
  top:347px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5049 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5050 {
  position:absolute;
  left:510px;
  top:347px;
  width:29px;
  height:17px;
}
#u5051 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5052 {
  position:absolute;
  left:515px;
  top:380px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5054 {
  position:absolute;
  left:583px;
  top:347px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5056 {
  position:absolute;
  left:430px;
  top:472px;
  width:300px;
  height:124px;
}
#u5057 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5058 {
  position:absolute;
  left:450px;
  top:491px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5059 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5060 {
  position:absolute;
  left:430px;
  top:551px;
  width:300px;
  height:1px;
}
#u5061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5062 {
  position:absolute;
  left:510px;
  top:491px;
  width:29px;
  height:17px;
}
#u5063 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5064 {
  position:absolute;
  left:515px;
  top:524px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5065 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5066 {
  position:absolute;
  left:583px;
  top:491px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5067 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5068 {
  position:absolute;
  left:455px;
  top:569px;
  width:97px;
  height:17px;
  color:#666666;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5070 {
  position:absolute;
  left:790px;
  top:469px;
  width:300px;
  height:124px;
}
#u5071 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5072 {
  position:absolute;
  left:810px;
  top:488px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5073 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5074 {
  position:absolute;
  left:790px;
  top:548px;
  width:300px;
  height:1px;
}
#u5075 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5076 {
  position:absolute;
  left:870px;
  top:488px;
  width:29px;
  height:17px;
}
#u5077 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5078 {
  position:absolute;
  left:875px;
  top:521px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5080 {
  position:absolute;
  left:943px;
  top:488px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5081 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5082 {
  position:absolute;
  left:815px;
  top:566px;
  width:153px;
  height:17px;
  color:#666666;
}
#u5083 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u5084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5084 {
  position:absolute;
  left:430px;
  top:632px;
  width:300px;
  height:230px;
}
#u5085 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5086 {
  position:absolute;
  left:450px;
  top:651px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5087 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5088 {
  position:absolute;
  left:430px;
  top:711px;
  width:300px;
  height:1px;
}
#u5089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5090 {
  position:absolute;
  left:510px;
  top:651px;
  width:29px;
  height:17px;
}
#u5091 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5092 {
  position:absolute;
  left:515px;
  top:684px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5093 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5094 {
  position:absolute;
  left:583px;
  top:651px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5095 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5096 {
  position:absolute;
  left:455px;
  top:799px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5097 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5098 {
  position:absolute;
  left:440px;
  top:722px;
  width:70px;
  height:70px;
}
#u5099 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5100 {
  position:absolute;
  left:545px;
  top:722px;
  width:70px;
  height:70px;
}
#u5101 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5102 {
  position:absolute;
  left:647px;
  top:722px;
  width:70px;
  height:70px;
}
#u5103 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5104 {
  position:absolute;
  left:440px;
  top:816px;
  width:277px;
  height:35px;
}
#u5105 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u5106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5106 {
  position:absolute;
  left:790px;
  top:632px;
  width:300px;
  height:230px;
}
#u5107 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5108 {
  position:absolute;
  left:810px;
  top:651px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5109 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5110 {
  position:absolute;
  left:790px;
  top:711px;
  width:300px;
  height:1px;
}
#u5111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5112 {
  position:absolute;
  left:870px;
  top:651px;
  width:29px;
  height:17px;
}
#u5113 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5114 {
  position:absolute;
  left:875px;
  top:684px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5115 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5116 {
  position:absolute;
  left:943px;
  top:651px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5117 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5118 {
  position:absolute;
  left:815px;
  top:799px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5119 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5120 {
  position:absolute;
  left:800px;
  top:722px;
  width:70px;
  height:70px;
}
#u5121 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5122 {
  position:absolute;
  left:905px;
  top:722px;
  width:70px;
  height:70px;
}
#u5123 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5124 {
  position:absolute;
  left:1007px;
  top:722px;
  width:70px;
  height:70px;
}
#u5125 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5126 {
  position:absolute;
  left:800px;
  top:816px;
  width:277px;
  height:35px;
}
#u5127 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u5128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5128 {
  position:absolute;
  left:430px;
  top:892px;
  width:300px;
  height:230px;
}
#u5129 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5130 {
  position:absolute;
  left:450px;
  top:911px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5131 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5132 {
  position:absolute;
  left:430px;
  top:971px;
  width:300px;
  height:1px;
}
#u5133 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5134 {
  position:absolute;
  left:510px;
  top:911px;
  width:29px;
  height:17px;
}
#u5135 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5136 {
  position:absolute;
  left:515px;
  top:944px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5137 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5138 {
  position:absolute;
  left:583px;
  top:911px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5140 {
  position:absolute;
  left:455px;
  top:1059px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5142 {
  position:absolute;
  left:440px;
  top:982px;
  width:70px;
  height:70px;
}
#u5143 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5144 {
  position:absolute;
  left:545px;
  top:982px;
  width:70px;
  height:70px;
}
#u5145 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5146 {
  position:absolute;
  left:647px;
  top:982px;
  width:70px;
  height:70px;
}
#u5147 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5148 {
  position:absolute;
  left:440px;
  top:1076px;
  width:277px;
  height:35px;
}
#u5149 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u5150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5150 {
  position:absolute;
  left:790px;
  top:895px;
  width:300px;
  height:124px;
}
#u5151 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5152 {
  position:absolute;
  left:810px;
  top:914px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5153 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5154 {
  position:absolute;
  left:790px;
  top:974px;
  width:300px;
  height:1px;
}
#u5155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5156 {
  position:absolute;
  left:870px;
  top:914px;
  width:29px;
  height:17px;
}
#u5157 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5158 {
  position:absolute;
  left:875px;
  top:947px;
  width:46px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u5160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5160 {
  position:absolute;
  left:943px;
  top:914px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5162 {
  position:absolute;
  left:809px;
  top:990px;
  width:152px;
  height:17px;
  color:#666666;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u5164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5164 {
  position:absolute;
  left:790px;
  top:320px;
  width:300px;
  height:124px;
}
#u5165 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5166 {
  position:absolute;
  left:810px;
  top:339px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u5167 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u5168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u5168 {
  position:absolute;
  left:790px;
  top:399px;
  width:300px;
  height:1px;
}
#u5169 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5170 {
  position:absolute;
  left:870px;
  top:339px;
  width:29px;
  height:17px;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u5172 {
  position:absolute;
  left:875px;
  top:372px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u5173 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5174 {
  position:absolute;
  left:943px;
  top:339px;
  width:134px;
  height:17px;
  color:#666666;
}
#u5175 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5176 {
  position:absolute;
  left:815px;
  top:417px;
  width:85px;
  height:17px;
  color:#666666;
}
#u5177 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
