body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1090px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1282px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4625 {
  position:absolute;
  left:0px;
  top:-108px;
  width:375px;
  height:1282px;
}
#u4626 {
  position:absolute;
  left:2px;
  top:633px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4631 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  color:#FFFFFF;
}
#u4632 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u4633 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
  color:#FFFFFF;
}
#u4634 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4635 {
  position:absolute;
  left:129px;
  top:30px;
  width:50px;
  height:28px;
  color:#FFFFFF;
}
#u4636 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u4637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4637 {
  position:absolute;
  left:179px;
  top:30px;
  width:50px;
  height:28px;
  color:#666666;
}
#u4638 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u4639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u4639 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u4640 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4641_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u4641 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u4642 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u4643 {
  position:absolute;
  left:1px;
  top:1233px;
  width:374px;
  height:49px;
}
#u4644 {
  position:absolute;
  left:2px;
  top:16px;
  width:370px;
  word-wrap:break-word;
}
#u4645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:960px;
}
#u4645 {
  position:absolute;
  left:0px;
  top:132px;
  width:375px;
  height:960px;
}
#u4646 {
  position:absolute;
  left:2px;
  top:472px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:151px;
}
#u4647 {
  position:absolute;
  left:0px;
  top:74px;
  width:374px;
  height:150px;
}
#u4648 {
  position:absolute;
  left:2px;
  top:67px;
  width:370px;
  word-wrap:break-word;
}
#u4649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4649 {
  position:absolute;
  left:430px;
  top:22px;
  width:300px;
  height:80px;
}
#u4650 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4651 {
  position:absolute;
  left:450px;
  top:41px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4652 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4653 {
  position:absolute;
  left:510px;
  top:41px;
  width:29px;
  height:17px;
}
#u4654 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4655 {
  position:absolute;
  left:515px;
  top:74px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4656 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4657 {
  position:absolute;
  left:583px;
  top:41px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4658 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4659 {
  position:absolute;
  left:790px;
  top:22px;
  width:300px;
  height:80px;
}
#u4660 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4661 {
  position:absolute;
  left:810px;
  top:41px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4662 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4663 {
  position:absolute;
  left:870px;
  top:41px;
  width:29px;
  height:17px;
}
#u4664 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4665 {
  position:absolute;
  left:875px;
  top:74px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4666 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4667 {
  position:absolute;
  left:943px;
  top:41px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4668 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4669 {
  position:absolute;
  left:430px;
  top:125px;
  width:300px;
  height:80px;
}
#u4670 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4671 {
  position:absolute;
  left:450px;
  top:144px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4672 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4673 {
  position:absolute;
  left:510px;
  top:144px;
  width:29px;
  height:17px;
}
#u4674 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4675 {
  position:absolute;
  left:515px;
  top:177px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4676 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4677 {
  position:absolute;
  left:583px;
  top:144px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4678 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4679 {
  position:absolute;
  left:790px;
  top:125px;
  width:300px;
  height:80px;
}
#u4680 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4681 {
  position:absolute;
  left:810px;
  top:144px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4682 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4683 {
  position:absolute;
  left:870px;
  top:144px;
  width:29px;
  height:17px;
}
#u4684 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4685 {
  position:absolute;
  left:875px;
  top:177px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4686 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4687 {
  position:absolute;
  left:943px;
  top:144px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4688 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4689 {
  position:absolute;
  left:430px;
  top:230px;
  width:300px;
  height:80px;
}
#u4690 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4691 {
  position:absolute;
  left:450px;
  top:249px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4692 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4693 {
  position:absolute;
  left:510px;
  top:249px;
  width:29px;
  height:17px;
}
#u4694 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4695 {
  position:absolute;
  left:515px;
  top:282px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4696 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4697 {
  position:absolute;
  left:583px;
  top:249px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4698 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4699 {
  position:absolute;
  left:790px;
  top:230px;
  width:300px;
  height:80px;
}
#u4700 {
  position:absolute;
  left:2px;
  top:32px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4701 {
  position:absolute;
  left:810px;
  top:249px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4702 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4703 {
  position:absolute;
  left:870px;
  top:249px;
  width:29px;
  height:17px;
}
#u4704 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4705 {
  position:absolute;
  left:875px;
  top:282px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4706 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4707 {
  position:absolute;
  left:943px;
  top:249px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4708 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4709 {
  position:absolute;
  left:430px;
  top:328px;
  width:300px;
  height:82px;
}
#u4710 {
  position:absolute;
  left:2px;
  top:33px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4711 {
  position:absolute;
  left:450px;
  top:347px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4712 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4713 {
  position:absolute;
  left:510px;
  top:347px;
  width:29px;
  height:17px;
}
#u4714 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4715 {
  position:absolute;
  left:515px;
  top:380px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4716 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4717 {
  position:absolute;
  left:583px;
  top:347px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4718 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4719 {
  position:absolute;
  left:430px;
  top:472px;
  width:300px;
  height:124px;
}
#u4720 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4721 {
  position:absolute;
  left:450px;
  top:491px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4722 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4723 {
  position:absolute;
  left:430px;
  top:551px;
  width:300px;
  height:1px;
}
#u4724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4725 {
  position:absolute;
  left:510px;
  top:491px;
  width:29px;
  height:17px;
}
#u4726 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4727 {
  position:absolute;
  left:515px;
  top:524px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4728 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4729 {
  position:absolute;
  left:583px;
  top:491px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4730 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4731 {
  position:absolute;
  left:455px;
  top:569px;
  width:97px;
  height:17px;
  color:#666666;
}
#u4732 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4733 {
  position:absolute;
  left:790px;
  top:469px;
  width:300px;
  height:124px;
}
#u4734 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4735 {
  position:absolute;
  left:810px;
  top:488px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4736 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4737 {
  position:absolute;
  left:790px;
  top:548px;
  width:300px;
  height:1px;
}
#u4738 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4739 {
  position:absolute;
  left:870px;
  top:488px;
  width:29px;
  height:17px;
}
#u4740 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4741 {
  position:absolute;
  left:875px;
  top:521px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4742 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4743 {
  position:absolute;
  left:943px;
  top:488px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4744 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4745 {
  position:absolute;
  left:815px;
  top:566px;
  width:153px;
  height:17px;
  color:#666666;
}
#u4746 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u4747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4747 {
  position:absolute;
  left:430px;
  top:632px;
  width:300px;
  height:230px;
}
#u4748 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4749 {
  position:absolute;
  left:450px;
  top:651px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4750 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4751 {
  position:absolute;
  left:430px;
  top:711px;
  width:300px;
  height:1px;
}
#u4752 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4753 {
  position:absolute;
  left:510px;
  top:651px;
  width:29px;
  height:17px;
}
#u4754 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4755 {
  position:absolute;
  left:515px;
  top:684px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4756 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4757 {
  position:absolute;
  left:583px;
  top:651px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4758 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4759 {
  position:absolute;
  left:455px;
  top:799px;
  width:85px;
  height:17px;
  color:#666666;
}
#u4760 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4761 {
  position:absolute;
  left:440px;
  top:722px;
  width:70px;
  height:70px;
}
#u4762 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4763 {
  position:absolute;
  left:545px;
  top:722px;
  width:70px;
  height:70px;
}
#u4764 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4765 {
  position:absolute;
  left:647px;
  top:722px;
  width:70px;
  height:70px;
}
#u4766 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4767 {
  position:absolute;
  left:440px;
  top:816px;
  width:277px;
  height:35px;
}
#u4768 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u4769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4769 {
  position:absolute;
  left:790px;
  top:632px;
  width:300px;
  height:230px;
}
#u4770 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4771 {
  position:absolute;
  left:810px;
  top:651px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4772 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4773 {
  position:absolute;
  left:790px;
  top:711px;
  width:300px;
  height:1px;
}
#u4774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4775 {
  position:absolute;
  left:870px;
  top:651px;
  width:29px;
  height:17px;
}
#u4776 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4777 {
  position:absolute;
  left:875px;
  top:684px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4778 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4779 {
  position:absolute;
  left:943px;
  top:651px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4780 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4781 {
  position:absolute;
  left:815px;
  top:799px;
  width:85px;
  height:17px;
  color:#666666;
}
#u4782 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4783 {
  position:absolute;
  left:800px;
  top:722px;
  width:70px;
  height:70px;
}
#u4784 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4785 {
  position:absolute;
  left:905px;
  top:722px;
  width:70px;
  height:70px;
}
#u4786 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4787 {
  position:absolute;
  left:1007px;
  top:722px;
  width:70px;
  height:70px;
}
#u4788 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4789 {
  position:absolute;
  left:800px;
  top:816px;
  width:277px;
  height:35px;
}
#u4790 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u4791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4791 {
  position:absolute;
  left:430px;
  top:892px;
  width:300px;
  height:230px;
}
#u4792 {
  position:absolute;
  left:2px;
  top:107px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4793 {
  position:absolute;
  left:450px;
  top:911px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4794 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4795 {
  position:absolute;
  left:430px;
  top:971px;
  width:300px;
  height:1px;
}
#u4796 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4797 {
  position:absolute;
  left:510px;
  top:911px;
  width:29px;
  height:17px;
}
#u4798 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4799 {
  position:absolute;
  left:515px;
  top:944px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4800 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4801 {
  position:absolute;
  left:583px;
  top:911px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4802 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4803 {
  position:absolute;
  left:455px;
  top:1059px;
  width:85px;
  height:17px;
  color:#666666;
}
#u4804 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4805 {
  position:absolute;
  left:440px;
  top:982px;
  width:70px;
  height:70px;
}
#u4806 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4807 {
  position:absolute;
  left:545px;
  top:982px;
  width:70px;
  height:70px;
}
#u4808 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4809 {
  position:absolute;
  left:647px;
  top:982px;
  width:70px;
  height:70px;
}
#u4810 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4811 {
  position:absolute;
  left:440px;
  top:1076px;
  width:277px;
  height:35px;
}
#u4812 {
  position:absolute;
  left:123px;
  top:10px;
  width:31px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:15.5px 7.5px;
  -ms-transform-origin:15.5px 7.5px;
  -moz-transform-origin:15.5px 7.5px;
  -webkit-transform-origin:15.5px 7.5px;
}
#u4813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4813 {
  position:absolute;
  left:790px;
  top:895px;
  width:300px;
  height:124px;
}
#u4814 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4815 {
  position:absolute;
  left:810px;
  top:914px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4816 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4817 {
  position:absolute;
  left:790px;
  top:974px;
  width:300px;
  height:1px;
}
#u4818 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4819 {
  position:absolute;
  left:870px;
  top:914px;
  width:29px;
  height:17px;
}
#u4820 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4821 {
  position:absolute;
  left:875px;
  top:947px;
  width:46px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4822 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u4823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4823 {
  position:absolute;
  left:943px;
  top:914px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4824 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4825 {
  position:absolute;
  left:809px;
  top:990px;
  width:152px;
  height:17px;
  color:#666666;
}
#u4826 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u4827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4827 {
  position:absolute;
  left:790px;
  top:320px;
  width:300px;
  height:124px;
}
#u4828 {
  position:absolute;
  left:2px;
  top:54px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4829 {
  position:absolute;
  left:810px;
  top:339px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u4830 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u4831 {
  position:absolute;
  left:790px;
  top:399px;
  width:300px;
  height:1px;
}
#u4832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4833 {
  position:absolute;
  left:870px;
  top:339px;
  width:29px;
  height:17px;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#53C1F6;
}
#u4835 {
  position:absolute;
  left:875px;
  top:372px;
  width:24px;
  height:13px;
  font-size:11px;
  color:#53C1F6;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u4837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4837 {
  position:absolute;
  left:943px;
  top:339px;
  width:134px;
  height:17px;
  color:#666666;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u4839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4839 {
  position:absolute;
  left:815px;
  top:417px;
  width:85px;
  height:17px;
  color:#666666;
}
#u4840 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
