body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1405px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5949 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
}
#u5956 {
  position:absolute;
  left:2px;
  top:5px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u5957 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:12px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:644px;
}
#u5959 {
  position:absolute;
  left:0px;
  top:26px;
  width:375px;
  height:644px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5961 {
  position:absolute;
  left:8px;
  top:520px;
  width:142px;
  height:70px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:27px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5964 {
  position:absolute;
  left:12px;
  top:546px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5965 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5966 {
  position:absolute;
  left:7px;
  top:575px;
  width:30px;
  height:30px;
}
#u5967 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5968 {
  position:absolute;
  left:37px;
  top:582px;
  width:232px;
  height:17px;
  color:#FFFFFF;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u5970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5970 {
  position:absolute;
  left:520px;
  top:0px;
  width:375px;
  height:670px;
}
#u5971 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5976 {
  position:absolute;
  left:520px;
  top:0px;
  width:375px;
  height:25px;
}
#u5977 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5978 {
  position:absolute;
  left:528px;
  top:6px;
  width:360px;
  height:11px;
}
#u5979 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5980 {
  position:absolute;
  left:530px;
  top:552px;
  width:30px;
  height:30px;
}
#u5981 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:615px;
}
#u5982 {
  position:absolute;
  left:520px;
  top:25px;
  width:375px;
  height:615px;
}
#u5983 {
  position:absolute;
  left:2px;
  top:300px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5984 {
  position:absolute;
  left:520px;
  top:611px;
  width:375px;
  height:58px;
}
#u5985 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5986 {
  position:absolute;
  left:535px;
  top:619px;
  width:140px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u5987 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5988 {
  position:absolute;
  left:736px;
  top:620px;
  width:140px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u5989 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5991 {
  position:absolute;
  left:535px;
  top:541px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5992 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u5993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5993 {
  position:absolute;
  left:530px;
  top:570px;
  width:30px;
  height:30px;
}
#u5994 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5995 {
  position:absolute;
  left:560px;
  top:577px;
  width:232px;
  height:17px;
  color:#FFFFFF;
}
#u5996 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u5997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  position:absolute;
  left:1030px;
  top:0px;
  width:375px;
  height:670px;
}
#u5998 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:25px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6003 {
  position:absolute;
  left:1030px;
  top:0px;
  width:375px;
  height:25px;
}
#u6004 {
  position:absolute;
  left:2px;
  top:4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6005 {
  position:absolute;
  left:1038px;
  top:6px;
  width:360px;
  height:11px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6007 {
  position:absolute;
  left:1040px;
  top:552px;
  width:30px;
  height:30px;
}
#u6008 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6010 {
  position:absolute;
  left:1045px;
  top:541px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u6012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6012 {
  position:absolute;
  left:1040px;
  top:570px;
  width:30px;
  height:30px;
}
#u6013 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6014 {
  position:absolute;
  left:1070px;
  top:577px;
  width:232px;
  height:17px;
  color:#FFFFFF;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u6016 {
  position:absolute;
  left:1030px;
  top:25px;
  width:375px;
  height:645px;
}
#u6017 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6019 {
  position:absolute;
  left:1030px;
  top:612px;
  width:375px;
  height:58px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u6021 {
  position:absolute;
  left:1045px;
  top:620px;
  width:140px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u6022 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 51, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u6023 {
  position:absolute;
  left:1246px;
  top:621px;
  width:140px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u6024 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u6025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6026 {
  position:absolute;
  left:1035px;
  top:391px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6027 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6028 {
  position:absolute;
  left:1030px;
  top:420px;
  width:30px;
  height:30px;
}
#u6029 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6030 {
  position:absolute;
  left:1060px;
  top:427px;
  width:232px;
  height:17px;
  color:#FFFFFF;
}
#u6031 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
