body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7223 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
}
#u7225 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:73px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:28px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:393px;
}
#u7227 {
  position:absolute;
  left:0px;
  top:277px;
  width:374px;
  height:393px;
}
#u7228 {
  position:absolute;
  left:2px;
  top:188px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:194px;
}
#u7229 {
  position:absolute;
  left:374px;
  top:73px;
  width:1px;
  height:194px;
}
#u7230 {
  position:absolute;
  left:2px;
  top:89px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:403px;
}
#u7231 {
  position:absolute;
  left:374px;
  top:267px;
  width:1px;
  height:403px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:194px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7234 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7235 {
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:68px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7237 {
  position:absolute;
  left:13px;
  top:83px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7238 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7239 {
  position:absolute;
  left:60px;
  top:86px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7240 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7241 {
  position:absolute;
  left:13px;
  top:113px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7242 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7243 {
  position:absolute;
  left:326px;
  top:92px;
  width:30px;
  height:30px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7246 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7247 {
  position:absolute;
  left:0px;
  top:141px;
  width:375px;
  height:68px;
}
#u7248 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7249 {
  position:absolute;
  left:13px;
  top:151px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7250 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7251 {
  position:absolute;
  left:60px;
  top:154px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7252 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7253 {
  position:absolute;
  left:13px;
  top:181px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7254 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7255 {
  position:absolute;
  left:326px;
  top:160px;
  width:30px;
  height:30px;
}
#u7256 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7259 {
  position:absolute;
  left:0px;
  top:209px;
  width:375px;
  height:68px;
}
#u7260 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7261 {
  position:absolute;
  left:13px;
  top:219px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u7262 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7263 {
  position:absolute;
  left:60px;
  top:222px;
  width:78px;
  height:17px;
  color:#999999;
}
#u7264 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u7265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7265 {
  position:absolute;
  left:13px;
  top:249px;
  width:103px;
  height:17px;
  color:#999999;
}
#u7266 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u7267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7267 {
  position:absolute;
  left:326px;
  top:228px;
  width:30px;
  height:30px;
}
#u7268 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
