body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5007 {
  position:absolute;
  left:0px;
  top:-1px;
  width:375px;
  height:670px;
}
#u5008 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  color:#FFFFFF;
}
#u5015 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u5016 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
  color:#FFFFFF;
}
#u5017 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5018 {
  position:absolute;
  left:129px;
  top:30px;
  width:50px;
  height:28px;
  color:#666666;
}
#u5019 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5020 {
  position:absolute;
  left:179px;
  top:30px;
  width:50px;
  height:28px;
  color:#FFFFFF;
}
#u5021 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5022 {
  position:absolute;
  left:15px;
  top:36px;
  width:15px;
  height:16px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u5024 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u5025 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:211px;
}
#u5026 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:211px;
}
#u5027 {
  position:absolute;
  left:2px;
  top:98px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5028 {
  position:absolute;
  left:10px;
  top:282px;
  width:20px;
  height:20px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u5030 {
  position:absolute;
  left:31px;
  top:285px;
  width:157px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u5032 {
  position:absolute;
  left:203px;
  top:285px;
  width:60px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5034 {
  position:absolute;
  left:288px;
  top:280px;
  width:72px;
  height:23px;
  font-size:10px;
  color:#FFFFFF;
}
#u5035 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u5036 {
  position:absolute;
  left:24px;
  top:492px;
  width:345px;
  height:123px;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5038 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u5039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u5039 {
  position:absolute;
  left:80px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u5040 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u5041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u5041 {
  position:absolute;
  left:170px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5042 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u5043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u5043 {
  position:absolute;
  left:250px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u5044 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u5045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u5045 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5046 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5047 {
  position:absolute;
  left:80px;
  top:20px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u5048 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u5049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u5049 {
  position:absolute;
  left:170px;
  top:20px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5050 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u5051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5051 {
  position:absolute;
  left:250px;
  top:20px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u5052 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u5053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u5053 {
  position:absolute;
  left:0px;
  top:50px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5054 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u5055 {
  position:absolute;
  left:80px;
  top:50px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5056 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u5057 {
  position:absolute;
  left:170px;
  top:50px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5058 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u5059 {
  position:absolute;
  left:250px;
  top:50px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u5060 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u5061 {
  position:absolute;
  left:0px;
  top:84px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5062 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u5063 {
  position:absolute;
  left:80px;
  top:84px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u5064 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u5065 {
  position:absolute;
  left:170px;
  top:84px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5066 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u5067 {
  position:absolute;
  left:250px;
  top:84px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u5068 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5069 {
  position:absolute;
  left:9px;
  top:329px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5070 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u5071 {
  position:absolute;
  left:98px;
  top:330px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u5072 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5073 {
  position:absolute;
  left:9px;
  top:353px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5074 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5075 {
  position:absolute;
  left:98px;
  top:354px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5076 {
  position:absolute;
  left:2px;
  top:5px;
  width:267px;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5077 {
  position:absolute;
  left:9px;
  top:376px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5078 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5079 {
  position:absolute;
  left:98px;
  top:377px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5080 {
  position:absolute;
  left:2px;
  top:5px;
  width:267px;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5081 {
  position:absolute;
  left:9px;
  top:402px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5082 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5083 {
  position:absolute;
  left:98px;
  top:403px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5084 {
  position:absolute;
  left:2px;
  top:5px;
  width:267px;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
  background:inherit;
  background-color:rgba(201, 201, 201, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5085 {
  position:absolute;
  left:9px;
  top:318px;
  width:360px;
  height:144px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:64px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5087 {
  position:absolute;
  left:14px;
  top:426px;
  width:84px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5088 {
  position:absolute;
  left:2px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5089 {
  position:absolute;
  left:98px;
  top:427px;
  width:251px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u5090 {
  position:absolute;
  left:2px;
  top:5px;
  width:247px;
  word-wrap:break-word;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5091 {
  position:absolute;
  left:301px;
  top:332px;
  width:48px;
  height:19px;
  font-size:12px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
  background:inherit;
  background-color:rgba(201, 201, 201, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5093 {
  position:absolute;
  left:8px;
  top:484px;
  width:360px;
  height:144px;
}
#u5094 {
  position:absolute;
  left:2px;
  top:64px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5095 {
  position:absolute;
  left:339px;
  top:34px;
  width:25px;
  height:25px;
}
#u5096 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
