body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:374px;
}
#u6361 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:374px;
}
#u6362 {
  position:absolute;
  left:2px;
  top:179px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
