body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1562 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  opacity:0.5;
}
#u1563 {
  position:absolute;
  left:2px;
  top:299px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:21px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1564 {
  position:absolute;
  left:58px;
  top:30px;
  width:1150px;
  height:520px;
}
#u1565 {
  position:absolute;
  left:2px;
  top:252px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:410px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1566 {
  position:absolute;
  left:100px;
  top:100px;
  width:1070px;
  height:410px;
}
#u1567 {
  position:absolute;
  left:2px;
  top:197px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1568 {
  position:absolute;
  left:100px;
  top:50px;
  width:214px;
  height:24px;
  font-size:20px;
}
#u1569 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u1570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1570 {
  position:absolute;
  left:332px;
  top:55px;
  width:57px;
  height:17px;
  color:#999999;
}
#u1571 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1572 {
  position:absolute;
  left:1170px;
  top:12px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#FFFFFF;
}
#u1573 {
  position:absolute;
  left:2px;
  top:9px;
  width:56px;
  word-wrap:break-word;
}
#u1574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1574 {
  position:absolute;
  left:120px;
  top:113px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1575 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:365px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1576 {
  position:absolute;
  left:100px;
  top:145px;
  width:130px;
  height:365px;
}
#u1577 {
  position:absolute;
  left:2px;
  top:174px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1578 {
  position:absolute;
  left:100px;
  top:145px;
  width:130px;
  height:45px;
  font-size:16px;
  color:#999999;
}
#u1579 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u1580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1580 {
  position:absolute;
  left:100px;
  top:191px;
  width:130px;
  height:45px;
  font-size:16px;
  color:#999999;
}
#u1581 {
  position:absolute;
  left:2px;
  top:13px;
  width:126px;
  word-wrap:break-word;
}
#u1582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:409px;
}
#u1582 {
  position:absolute;
  left:1077px;
  top:102px;
  width:93px;
  height:409px;
}
#u1583 {
  position:absolute;
  left:2px;
  top:196px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:410px;
}
#u1584 {
  position:absolute;
  left:407px;
  top:100px;
  width:548px;
  height:410px;
}
#u1585 {
  position:absolute;
  left:2px;
  top:197px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u1586 {
  position:absolute;
  left:980px;
  top:282px;
  width:47px;
  height:50px;
}
#u1587 {
  position:absolute;
  left:2px;
  top:17px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:50px;
}
#u1588 {
  position:absolute;
  left:290px;
  top:282px;
  width:47px;
  height:50px;
}
#u1589 {
  position:absolute;
  left:2px;
  top:17px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1590 {
  position:absolute;
  left:991px;
  top:51px;
  width:30px;
  height:30px;
}
#u1591 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1592 {
  position:absolute;
  left:1040px;
  top:44px;
  width:40px;
  height:40px;
}
#u1593 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
