body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7520 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7521 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7522_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u7522 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u7523 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7524 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:35px;
}
#u7525 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 114, 184, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1872B8;
  text-align:center;
}
#u7526 {
  position:absolute;
  left:0px;
  top:64px;
  width:95px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#1872B8;
  text-align:center;
}
#u7527 {
  position:absolute;
  left:0px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u7528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u7528 {
  position:absolute;
  left:99px;
  top:64px;
  width:93px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u7529 {
  position:absolute;
  left:0px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u7530 {
  position:absolute;
  left:190px;
  top:64px;
  width:93px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u7531 {
  position:absolute;
  left:0px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u7532 {
  position:absolute;
  left:281px;
  top:64px;
  width:93px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u7533 {
  position:absolute;
  left:0px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u7534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7534 {
  position:absolute;
  left:141px;
  top:206px;
  width:40px;
  height:40px;
}
#u7535 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u7536 {
  position:absolute;
  left:181px;
  top:217px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u7537 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:315px;
}
#u7538 {
  position:absolute;
  left:0px;
  top:256px;
  width:375px;
  height:314px;
}
#u7539 {
  position:absolute;
  left:2px;
  top:149px;
  width:371px;
  word-wrap:break-word;
}
#u7540 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7541 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7542 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7543 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7544 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u7545 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7546 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u7547 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7548 {
  position:absolute;
  left:0px;
  top:620px;
  width:375px;
  height:50px;
}
#u7549 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u7550 {
  position:absolute;
  left:0px;
  top:649px;
  width:125px;
  height:20px;
  color:#FF0000;
}
#u7551 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u7552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u7552 {
  position:absolute;
  left:125px;
  top:649px;
  width:125px;
  height:20px;
  color:#999999;
}
#u7553 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u7554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:20px;
}
#u7554 {
  position:absolute;
  left:250px;
  top:649px;
  width:125px;
  height:20px;
  color:#999999;
}
#u7555 {
  position:absolute;
  left:2px;
  top:2px;
  width:121px;
  word-wrap:break-word;
}
#u7556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7556 {
  position:absolute;
  left:52px;
  top:625px;
  width:20px;
  height:20px;
}
#u7557 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7558 {
  position:absolute;
  left:177px;
  top:625px;
  width:20px;
  height:20px;
}
#u7559 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7560 {
  position:absolute;
  left:301px;
  top:625px;
  width:20px;
  height:20px;
}
#u7561 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u7562 {
  position:absolute;
  left:8px;
  top:30px;
  width:92px;
  height:28px;
  color:#FFFFFF;
  text-align:left;
}
#u7563 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
