body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5720 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5721 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5726 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
}
#u5727 {
  position:absolute;
  left:2px;
  top:5px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u5728 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:12px;
}
#u5729 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5731 {
  position:absolute;
  left:12px;
  top:546px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5732 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5733 {
  position:absolute;
  left:7px;
  top:575px;
  width:30px;
  height:30px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5735 {
  position:absolute;
  left:37px;
  top:582px;
  width:232px;
  height:17px;
  color:#FFFFFF;
}
#u5736 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u5737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:644px;
}
#u5737 {
  position:absolute;
  left:0px;
  top:26px;
  width:375px;
  height:644px;
}
#u5738 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5739 {
  position:absolute;
  left:313px;
  top:34px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u5740 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
