body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5761 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5762 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5763 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5764 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5766 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5767 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
}
#u5768 {
  position:absolute;
  left:2px;
  top:5px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u5769 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:12px;
}
#u5770 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5771 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5772 {
  position:absolute;
  left:12px;
  top:546px;
  width:138px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5773 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u5774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5774 {
  position:absolute;
  left:7px;
  top:575px;
  width:30px;
  height:30px;
}
#u5775 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5776 {
  position:absolute;
  left:37px;
  top:582px;
  width:232px;
  height:17px;
  color:#FFFFFF;
}
#u5777 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  white-space:nowrap;
}
#u5778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:644px;
}
#u5778 {
  position:absolute;
  left:0px;
  top:26px;
  width:375px;
  height:644px;
}
#u5779 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5780 {
  position:absolute;
  left:313px;
  top:34px;
  width:60px;
  height:20px;
  color:#FFFFFF;
}
#u5781 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
