body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:635px;
}
#u2326 {
  position:absolute;
  left:80px;
  top:15px;
  width:639px;
  height:635px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:310px;
  width:635px;
  visibility:hidden;
  word-wrap:break-word;
}
