body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5412 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  opacity:0.2;
}
#u5413 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u5414 {
  position:absolute;
  left:0px;
  top:-30px;
  width:375px;
  height:670px;
}
#u5415 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:670px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5416 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:670px;
  opacity:0.5;
}
#u5417 {
  position:absolute;
  left:2px;
  top:327px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5418 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5419 {
  position:absolute;
  left:33px;
  top:166px;
  width:300px;
  height:180px;
}
#u5420 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5421 {
  position:absolute;
  left:33px;
  top:204px;
  width:300px;
  height:108px;
}
#u5422 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5423 {
  position:absolute;
  left:130px;
  top:238px;
  width:107px;
  height:17px;
}
#u5424 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5425 {
  position:absolute;
  left:130px;
  top:265px;
  width:107px;
  height:17px;
}
#u5426 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u5427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5427 {
  position:absolute;
  left:161px;
  top:177px;
  width:41px;
  height:17px;
  color:#FFFFFF;
}
#u5428 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5429 {
  position:absolute;
  left:152px;
  top:321px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u5430 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
