body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4739 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:640px;
  opacity:0.2;
}
#u4740 {
  position:absolute;
  left:2px;
  top:312px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
}
#u4741 {
  position:absolute;
  left:0px;
  top:-30px;
  width:375px;
  height:670px;
}
#u4742 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:670px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4743 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:670px;
  opacity:0.5;
}
#u4744 {
  position:absolute;
  left:2px;
  top:327px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4746 {
  position:absolute;
  left:33px;
  top:166px;
  width:300px;
  height:180px;
}
#u4747 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4748 {
  position:absolute;
  left:33px;
  top:204px;
  width:300px;
  height:108px;
}
#u4749 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4750 {
  position:absolute;
  left:130px;
  top:238px;
  width:107px;
  height:17px;
}
#u4751 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4752 {
  position:absolute;
  left:130px;
  top:265px;
  width:107px;
  height:17px;
}
#u4753 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4754 {
  position:absolute;
  left:161px;
  top:177px;
  width:41px;
  height:17px;
  color:#FFFFFF;
}
#u4755 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4756 {
  position:absolute;
  left:152px;
  top:321px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u4757 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
