body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:614px;
  color:#FFFFFF;
}
#u1830 {
  position:absolute;
  left:2px;
  top:299px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1215px;
  height:44px;
}
#u1832 {
  position:absolute;
  left:65px;
  top:0px;
  width:1215px;
  height:44px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:14px;
  width:1211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
  background:inherit;
  background-color:rgba(3, 121, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1834 {
  position:absolute;
  left:115px;
  top:0px;
  width:120px;
  height:44px;
  font-size:18px;
  color:#FFFFFF;
}
#u1835 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:614px;
}
#u1836 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:614px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:299px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1214px;
  height:35px;
}
#u1838 {
  position:absolute;
  left:65px;
  top:44px;
  width:1214px;
  height:35px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:10px;
  width:1210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1840 {
  position:absolute;
  left:165px;
  top:87px;
  width:88px;
  height:30px;
  color:#000000;
}
#u1841 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 120, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u1842 {
  position:absolute;
  left:253px;
  top:87px;
  width:88px;
  height:30px;
  color:#000000;
}
#u1843 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 120, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 120, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1844 {
  position:absolute;
  left:339px;
  top:87px;
  width:88px;
  height:30px;
  color:#FFFFFF;
}
#u1845 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1846 {
  position:absolute;
  left:1170px;
  top:564px;
  width:68px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1847 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u1848 {
  position:absolute;
  left:165px;
  top:153px;
  width:949px;
  height:206px;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
}
#u1849 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1850 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u1851 {
  position:absolute;
  left:51px;
  top:0px;
  width:77px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1852 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
}
#u1853 {
  position:absolute;
  left:128px;
  top:0px;
  width:211px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1854 {
  position:absolute;
  left:2px;
  top:2px;
  width:207px;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
}
#u1855 {
  position:absolute;
  left:339px;
  top:0px;
  width:179px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1856 {
  position:absolute;
  left:2px;
  top:2px;
  width:175px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
}
#u1857 {
  position:absolute;
  left:518px;
  top:0px;
  width:124px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1858 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:20px;
}
#u1859 {
  position:absolute;
  left:642px;
  top:0px;
  width:131px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1860 {
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  word-wrap:break-word;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u1861 {
  position:absolute;
  left:773px;
  top:0px;
  width:83px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1862 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:20px;
}
#u1863 {
  position:absolute;
  left:856px;
  top:0px;
  width:88px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1864 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:20px;
  width:51px;
  height:36px;
  font-size:12px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1867 {
  position:absolute;
  left:51px;
  top:20px;
  width:77px;
  height:36px;
  font-size:12px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:36px;
}
#u1869 {
  position:absolute;
  left:128px;
  top:20px;
  width:211px;
  height:36px;
  font-size:12px;
  text-align:left;
}
#u1870 {
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u1871 {
  position:absolute;
  left:339px;
  top:20px;
  width:179px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u1872 {
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u1873 {
  position:absolute;
  left:518px;
  top:20px;
  width:124px;
  height:36px;
}
#u1874 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u1875 {
  position:absolute;
  left:642px;
  top:20px;
  width:131px;
  height:36px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u1877 {
  position:absolute;
  left:773px;
  top:20px;
  width:83px;
  height:36px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1879 {
  position:absolute;
  left:856px;
  top:20px;
  width:88px;
  height:36px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u1881 {
  position:absolute;
  left:0px;
  top:56px;
  width:51px;
  height:36px;
  font-size:12px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1883 {
  position:absolute;
  left:51px;
  top:56px;
  width:77px;
  height:36px;
  font-size:12px;
}
#u1884 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:36px;
}
#u1885 {
  position:absolute;
  left:128px;
  top:56px;
  width:211px;
  height:36px;
  font-size:12px;
  text-align:left;
}
#u1886 {
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u1887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u1887 {
  position:absolute;
  left:339px;
  top:56px;
  width:179px;
  height:36px;
  font-size:14px;
  color:#666666;
}
#u1888 {
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  word-wrap:break-word;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u1889 {
  position:absolute;
  left:518px;
  top:56px;
  width:124px;
  height:36px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u1891 {
  position:absolute;
  left:642px;
  top:56px;
  width:131px;
  height:36px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u1893 {
  position:absolute;
  left:773px;
  top:56px;
  width:83px;
  height:36px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1895 {
  position:absolute;
  left:856px;
  top:56px;
  width:88px;
  height:36px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:37px;
}
#u1897 {
  position:absolute;
  left:0px;
  top:92px;
  width:51px;
  height:37px;
  font-size:12px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:11px;
  width:47px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:37px;
}
#u1899 {
  position:absolute;
  left:51px;
  top:92px;
  width:77px;
  height:37px;
  font-size:12px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:11px;
  width:73px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:37px;
}
#u1901 {
  position:absolute;
  left:128px;
  top:92px;
  width:211px;
  height:37px;
  font-size:12px;
  text-align:left;
}
#u1902 {
  position:absolute;
  left:2px;
  top:11px;
  width:207px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:37px;
}
#u1903 {
  position:absolute;
  left:339px;
  top:92px;
  width:179px;
  height:37px;
  font-size:14px;
  color:#666666;
}
#u1904 {
  position:absolute;
  left:2px;
  top:2px;
  width:175px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:37px;
}
#u1905 {
  position:absolute;
  left:518px;
  top:92px;
  width:124px;
  height:37px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
}
#u1907 {
  position:absolute;
  left:642px;
  top:92px;
  width:131px;
  height:37px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u1909 {
  position:absolute;
  left:773px;
  top:92px;
  width:83px;
  height:37px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u1911 {
  position:absolute;
  left:856px;
  top:92px;
  width:88px;
  height:37px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u1913 {
  position:absolute;
  left:0px;
  top:129px;
  width:51px;
  height:36px;
  font-size:12px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1915 {
  position:absolute;
  left:51px;
  top:129px;
  width:77px;
  height:36px;
  font-size:12px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:36px;
}
#u1917 {
  position:absolute;
  left:128px;
  top:129px;
  width:211px;
  height:36px;
  font-size:12px;
  text-align:left;
}
#u1918 {
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u1919 {
  position:absolute;
  left:339px;
  top:129px;
  width:179px;
  height:36px;
  font-size:12px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u1921 {
  position:absolute;
  left:518px;
  top:129px;
  width:124px;
  height:36px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u1923 {
  position:absolute;
  left:642px;
  top:129px;
  width:131px;
  height:36px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u1925 {
  position:absolute;
  left:773px;
  top:129px;
  width:83px;
  height:36px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1927 {
  position:absolute;
  left:856px;
  top:129px;
  width:88px;
  height:36px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u1929 {
  position:absolute;
  left:0px;
  top:165px;
  width:51px;
  height:36px;
  font-size:12px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1931 {
  position:absolute;
  left:51px;
  top:165px;
  width:77px;
  height:36px;
  font-size:12px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:36px;
}
#u1933 {
  position:absolute;
  left:128px;
  top:165px;
  width:211px;
  height:36px;
  font-size:12px;
  text-align:left;
}
#u1934 {
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:36px;
}
#u1935 {
  position:absolute;
  left:339px;
  top:165px;
  width:179px;
  height:36px;
  font-size:12px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:10px;
  width:175px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u1937 {
  position:absolute;
  left:518px;
  top:165px;
  width:124px;
  height:36px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:10px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:36px;
}
#u1939 {
  position:absolute;
  left:642px;
  top:165px;
  width:131px;
  height:36px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u1941 {
  position:absolute;
  left:773px;
  top:165px;
  width:83px;
  height:36px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u1943 {
  position:absolute;
  left:856px;
  top:165px;
  width:88px;
  height:36px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u1945 {
  position:absolute;
  left:706px;
  top:300px;
  width:34px;
  height:14px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:-1px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1947 {
  position:absolute;
  left:1086px;
  top:564px;
  width:57px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1948 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(48, 141, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1951 {
  position:absolute;
  left:128px;
  top:49px;
  width:92px;
  height:28px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1952 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3399FF;
}
#u1953 {
  position:absolute;
  left:195px;
  top:55px;
  width:16px;
  height:17px;
  color:#3399FF;
}
#u1954 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1955 {
  position:absolute;
  left:1249px;
  top:80px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1959 {
  position:absolute;
  left:65px;
  top:116px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1961 {
  position:absolute;
  left:65px;
  top:79px;
  width:95px;
  height:38px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1963 {
  position:absolute;
  left:65px;
  top:153px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1964 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1965 {
  position:absolute;
  left:69px;
  top:92px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1967 {
  position:absolute;
  left:69px;
  top:129px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1969 {
  position:absolute;
  left:69px;
  top:166px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1971 {
  position:absolute;
  left:65px;
  top:190px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1972 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1973 {
  position:absolute;
  left:69px;
  top:203px;
  width:85px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:131px;
  top:73px;
  width:30px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1977 {
  position:absolute;
  left:65px;
  top:263px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1978 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:65px;
  top:226px;
  width:95px;
  height:38px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1981 {
  position:absolute;
  left:65px;
  top:300px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1982 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1983 {
  position:absolute;
  left:69px;
  top:238px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1985 {
  position:absolute;
  left:69px;
  top:274px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1987 {
  position:absolute;
  left:69px;
  top:312px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1989 {
  position:absolute;
  left:65px;
  top:336px;
  width:95px;
  height:38px;
  color:#FFFFFF;
}
#u1990 {
  position:absolute;
  left:2px;
  top:11px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1991 {
  position:absolute;
  left:69px;
  top:347px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:133px;
  top:218px;
  width:29px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
