body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:670px;
  color:#CCCCCC;
}
#u6033 {
  position:absolute;
  left:2px;
  top:327px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6034 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u6035 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u6036 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
}
#u6037 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6038 {
  position:absolute;
  left:35px;
  top:34px;
  width:69px;
  height:23px;
  color:#FFFFFF;
}
#u6039 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u6040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u6040 {
  position:absolute;
  left:10px;
  top:36px;
  width:15px;
  height:16px;
}
#u6041 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6042 {
  position:absolute;
  left:340px;
  top:34px;
  width:20px;
  height:20px;
}
#u6043 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6044 {
  position:absolute;
  left:289px;
  top:566px;
  width:60px;
  height:60px;
}
#u6045 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u6046 {
  position:absolute;
  left:113px;
  top:226px;
  width:150px;
  height:150px;
}
#u6047 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:center;
}
#u6048 {
  position:absolute;
  left:118px;
  top:404px;
  width:127px;
  height:17px;
  color:#999999;
  text-align:center;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:133px;
}
#u6050 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:132px;
}
#u6051 {
  position:absolute;
  left:2px;
  top:58px;
  width:371px;
  word-wrap:break-word;
}
