body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7003 {
  position:absolute;
  left:0px;
  top:-1px;
  width:375px;
  height:667px;
}
#u7004 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(27, 130, 210, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  color:#FFFFFF;
}
#u7011 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:11px;
}
#u7012 {
  position:absolute;
  left:8px;
  top:6px;
  width:360px;
  height:11px;
  color:#FFFFFF;
}
#u7013 {
  position:absolute;
  left:2px;
  top:-2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u7014 {
  position:absolute;
  left:129px;
  top:30px;
  width:50px;
  height:28px;
  color:#666666;
}
#u7015 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u7016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7016 {
  position:absolute;
  left:179px;
  top:30px;
  width:50px;
  height:28px;
  color:#FFFFFF;
}
#u7017 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u7018 {
  position:absolute;
  left:15px;
  top:36px;
  width:15px;
  height:16px;
}
#u7019 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:93px;
  height:6px;
}
#u7020 {
  position:absolute;
  left:1px;
  top:96px;
  width:90px;
  height:3px;
  color:#FFFFFF;
}
#u7021 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:211px;
}
#u7022 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:211px;
}
#u7023 {
  position:absolute;
  left:2px;
  top:98px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7024 {
  position:absolute;
  left:10px;
  top:282px;
  width:20px;
  height:20px;
}
#u7025 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7026 {
  position:absolute;
  left:31px;
  top:285px;
  width:157px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u7027 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u7028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u7028 {
  position:absolute;
  left:288px;
  top:280px;
  width:72px;
  height:23px;
  font-size:10px;
  color:#FFFFFF;
}
#u7029 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u7030 {
  position:absolute;
  left:24px;
  top:492px;
  width:345px;
  height:123px;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7031 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7032 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u7033 {
  position:absolute;
  left:80px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u7034 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u7035 {
  position:absolute;
  left:170px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7036 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
}
#u7037 {
  position:absolute;
  left:250px;
  top:0px;
  width:90px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u7038 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u7039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u7039 {
  position:absolute;
  left:0px;
  top:20px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7040 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u7041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u7041 {
  position:absolute;
  left:80px;
  top:20px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u7042 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u7043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u7043 {
  position:absolute;
  left:170px;
  top:20px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7044 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u7045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u7045 {
  position:absolute;
  left:250px;
  top:20px;
  width:90px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u7046 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u7047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u7047 {
  position:absolute;
  left:0px;
  top:50px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7048 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u7049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u7049 {
  position:absolute;
  left:80px;
  top:50px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7050 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u7051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u7051 {
  position:absolute;
  left:170px;
  top:50px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7052 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u7053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u7053 {
  position:absolute;
  left:250px;
  top:50px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u7054 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u7055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u7055 {
  position:absolute;
  left:0px;
  top:84px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7056 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u7057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u7057 {
  position:absolute;
  left:80px;
  top:84px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u7058 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u7059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u7059 {
  position:absolute;
  left:170px;
  top:84px;
  width:80px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u7060 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u7061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:34px;
}
#u7061 {
  position:absolute;
  left:250px;
  top:84px;
  width:90px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u7062 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u7063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7063 {
  position:absolute;
  left:9px;
  top:329px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7064 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u7065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u7065 {
  position:absolute;
  left:98px;
  top:330px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
#u7066 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u7067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7067 {
  position:absolute;
  left:9px;
  top:353px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7068 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u7069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7069 {
  position:absolute;
  left:98px;
  top:354px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7070 {
  position:absolute;
  left:2px;
  top:5px;
  width:267px;
  word-wrap:break-word;
}
#u7071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7071 {
  position:absolute;
  left:9px;
  top:376px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7072 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u7073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7073 {
  position:absolute;
  left:98px;
  top:377px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7074 {
  position:absolute;
  left:2px;
  top:5px;
  width:267px;
  word-wrap:break-word;
}
#u7075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7075 {
  position:absolute;
  left:9px;
  top:402px;
  width:95px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7076 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u7077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7077 {
  position:absolute;
  left:98px;
  top:403px;
  width:271px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7078 {
  position:absolute;
  left:2px;
  top:5px;
  width:267px;
  word-wrap:break-word;
}
#u7079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
  background:inherit;
  background-color:rgba(201, 201, 201, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7079 {
  position:absolute;
  left:9px;
  top:318px;
  width:360px;
  height:144px;
}
#u7080 {
  position:absolute;
  left:2px;
  top:64px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7081 {
  position:absolute;
  left:14px;
  top:426px;
  width:84px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u7082 {
  position:absolute;
  left:2px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u7083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7083 {
  position:absolute;
  left:98px;
  top:427px;
  width:251px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u7084 {
  position:absolute;
  left:2px;
  top:5px;
  width:247px;
  word-wrap:break-word;
}
#u7085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u7085 {
  position:absolute;
  left:301px;
  top:332px;
  width:48px;
  height:19px;
  font-size:12px;
}
#u7086 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u7087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:144px;
  background:inherit;
  background-color:rgba(201, 201, 201, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7087 {
  position:absolute;
  left:8px;
  top:484px;
  width:360px;
  height:144px;
}
#u7088 {
  position:absolute;
  left:2px;
  top:64px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
